$soft-bg: black;
$bg: #17161b;
$primary: #d4aa00;
$text-default: #f2f1ed;
$alert: #ed4a34;

$icomoon-font-family: "aleph" !default;
$icomoon-font-path: "../fonts/aleph" !default;

$icon-failed: "\e905";
$icon-pick-axe: "\e904";
$icon-wallet: "\e901";
$icon-graph: "\e902";
$icon-subscription: "\e903";
$icon-coche: "\e900";
