@import "variables";

.app-brand {
    position: absolute;
    top: 4px;
    left: 0;
    display: flex;
    align-items: center;
    .app-logo {
        height: 26px;
        margin: 0.5rem;
    }

    .app-name {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.2rem;
    }
}
