@import "variables";

.popup-biometric-enable {
    position: fixed;
    top: 0;
    height: 100vh;
    background: $bg;
    z-index: 10000;
    left: 0;
    right: 0;
    padding: 2em 2em;
    overflow: hidden;
    opacity: 1;
    animation: moveUp 0.5s ease-in-out;
}

@keyframes moveUp {
    from {
        top: 50vh;
        opacity: 0;
    }
}

.fingerprint-button {
    position: absolute;
    width: 34px;
    transform: translate(-42px, 6px);
}

.big-image {
    max-width: 80vw;
    max-height: 30vh;
    display: block;
    margin: 5vh auto;
}
