@use "sass:math";

$size: 50vw;

.loader-1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: $size;
    width: $size;
    margin: #{math.div($size, 2) * -1} 0 0 #{math.div($size, 2) * -1};
    border: 2px solid transparent;
    border-top-color: $primary;
    border-radius: 50%;
    -webkit-animation: spin7 1.5s ease infinite;
    animation: spin7 1.5s ease infinite;
}
.loader-title {
    text-transform: uppercase;
    color: $primary;
    top: calc(50% + #{math.div($size, 2)} + 20px);
    position: absolute;
    text-align: center;
    margin: auto;
    width: 100%;
}

.loader-1:before {
    content: "";
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: $primary;
    -webkit-animation: spin7 3s linear infinite;
    animation: spin7 3s linear infinite;
}

.loader-1:after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: $primary;
    -webkit-animation: spin7 1.5s ease infinite;
    animation: spin7 1.5s ease infinite;
}

@-webkit-keyframes spin7 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin7 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
